[Unit]
Description=Hazelcast In-Memory Data Grid

[Service]
WorkingDirectory=/var/hazelcast/bin
ExecStart=/var/hazelcast/bin/start.sh
StandardOutput=syslog
StandardError=syslog

